{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "esnext",
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["react-hooks", "import"],
  "rules": {
    "import/no-unresolved": ["error", { "commonjs": true, "amd": true }],
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["."]
      }
    }
  }
}
