.photo-tags-diff {
  color: #aaa;
  font-size: 12px;
  text-transform: capitalize;

  img + .true-tags,
  img + .pred-tags {
    margin-top: 6px;
  }

  .true-tags, .pred-tags {
    padding: 3px 0;
    text-align: left;

    strong {
      min-width: 3em;
      padding-right: 0.5em;
      font-weight: 400;
      text-align: right;
      padding-right: 6px;
      display: inline-block;
    }
    .ant-tag {
      border-radius: 2px;
      font-size: 11px;
      line-height: 1.5;
      padding: 0 4px;
      margin-right: 3px;
    }
  }

}
